<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lightsabers</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
  </head>
  <body>
    <header class="header">
      <nav>
        <ul id="navbar">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/siths">Siths</a></li>
          <li><a href="/jedis">Jedis</a></li>
          <li><a href="/guns">Guns</a></li>
          <li><a href="/sluggos">Sluggos</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    <div id="container">
      <h1>Home</h1>
      <p>The world leading Lightsabers seller for jedi and sith alike.</p>
    </div>
    <img src="./images/lightsaber2.jpeg" />
  </body>
</html>
