<div>
  <ul id="productlist">
    <h1>Product List</h1>
    {{#each products}}
      <h2>{{this.title}}</h2>
      <p>Price: ${{this.price}}</p>
      <img class="some" src="/images/{{this.imgSrc}}" alt="images" />

      <li><a href="/products/{{this._id}}">More details!</a></li>
    {{/each}}
  </ul>
</div>