body {
  background-color: darkblue;
  text-align: center;
}

img {
  max-height: 250vw;
}

h1 {
  color: white;
}

p {
  color: white;
}

header {
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav {
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#navbar {
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#navbar li a {
  text-decoration: none;
  color: white;
  text-align: center;
}

#navbar li a:hover {
  text-decoration: underline;
  font-size: 150%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.photos {
  max-height: 600px;
}

.stores {
  color: white;
}

.links {
  color: red;
}
